{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>CIN</th>
                <th>Adresse</th>
                <th>Longeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.CIN }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.height }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fa-solid fa-eye fa-bounce"></i></a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
